services:
  app:
    build:
      context: .
      args:
        PYTHON_VERSION: ${PYTHON_VERSION:-3.12}
    depends_on:
      artemis:
        condition: service_started
    environment:
      ARTEMIS_HOST: artemis

  artemis:
    image: apache/activemq-artemis:2.34.0-alpine
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
    ports:
      - 8161:8161
      - 61616:61616
