[tool.poetry]
name = "stompman"
version = "0"
description = "Python STOMP client with pleasant API"
license = "MIT"
authors = ["Lev Vereshchagin <mail@vrslev.com>"]
readme = "README.md"
repository = "https://github.com/vrslev/stompman"
keywords = ["stomp", "artemis", "activemq", "messaging", "jms"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Natural Language :: English",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: System :: Networking",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.11"


[tool.poetry.group.dev.dependencies]
mypy = "^1.10.0"
ruff = "^0.4.8"
pytest = "^8.2.2"
pytest-cov = "^5.0.0"
anyio = "^4.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.mypy]
python_version = "3.11"
warn_unused_ignores = true
strict = true

[tool.ruff]
target-version = "py311"
fix = true
unsafe-fixes = true
line-length = 120
[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "EM",
    "FBT",
    "TRY003",
    "D1",
    "D203",
    "D213",
    "G004",
    "FA",
    "ANN101",
    "ANN102",
    "COM812",
    "ISC001",
    "S101",
    "SLF001",
]

[tool.pytest.ini_options]
addopts = "--cov -s"

[tool.coverage.report]
skip_covered = true
show_missing = true
exclude_also = ["if TYPE_CHECKING:"]
